* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: greenyellow;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  /* min-height: 8vh; */
  background-color: #333;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  & img {
    width: 50px;
    height: 50px;
    margin: 1rem;
    border-radius: 100%;
    cursor: pointer;
    border: aqua 2px solid;
  }
  & img:hover {
    opacity: 0.66;
  }
  & .flex{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      & a {
          font-family: "Pixelify Sans", serif;
          color: aqua;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.5rem;
          /* padding: 0px 10px; */
          font-weight: 700;
          text-transform: uppercase;
      }
      & a:hover {
          color: white;
      }
              
      & nav {
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          & input#burgermenu {
            display: none;
          }
          & ul {
              display: flex;
              height: 100%;
              list-style: none;
              margin: 0;
              overflow: hidden;
              & li {
                  list-style: none;
                  text-decoration: none;
                  align-content: center;
                  & a {
                      color: white;
                      padding: 1rem 1rem;
                      text-decoration: none;
                      font-size: 1rem;
                      font-weight: lighter;
                      cursor: pointer;
                      text-transform: uppercase;
                      display: block;
                  }
                  & a:hover {
                      background-color: aqua;
                      color: black;
                      font-weight: bolder;
                  }
              }    
          }
      }
  }
}

main {
  padding: 1rem 1rem;
  display: flex;
  max-width: 981px;
  margin: auto;
  min-height: 84vh;
  
  & .main-content {
    width: 70%;

    & h1#h1 {
      font-family: "Pixelify Sans", serif;
      font-size: 3rem;
      text-align: center;
      font-weight: 700;
      color: #333;
      text-transform: uppercase;
    }

    & #container {
      display: flex;
      width: 75%;
      margin: auto;
      padding: 8px;
      gap: 8px;
      border: #333 1px solid;
      border-radius: 8px;

      & .image {
        background: url("/media/dave.webp") no-repeat center center/cover;
        min-width: 150px;
        width: 30%;
      }

      & .content {
        text-align: center;
        & p {
          /* margin-left: 10%; */
          text-align: left;
        }
        & button {
          background-color: #333;
          padding: 8px;
          border: none;
          cursor: pointer;
          margin-top: 1rem;
          border-radius: 8px;
          color: aqua;
          font-weight: bolder;
          text-transform: uppercase;
        }
        & button:hover{
          background-color: aqua;
          color: #333;
        }
      }
    }
  }

  & aside {
    width: 30%;
    background-color: #333;
    border: #333 1px solid;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    padding: 1rem;
    & h2#h2 {
      font-family: "Pixelify Sans", serif;
      text-transform: uppercase;
      color: greenyellow;
      font-size: 1.5rem;
      font-weight: 700;
    }
    & p {
      color: aqua;
      font-size: 1rem;
      text-align: start;
      font-weight: 100;
    }
  }
}

footer {
  width: 100%;
  background-color: #333;
  min-height: 33vh;
  align-content: center;
  justify-content: center;
  & .grid-areas {
    width: 90%;
    padding: 1rem;
    display: grid;
    grid-template-areas:
      "a b c "
      "d d d ";
    gap: 1rem;
    margin: auto;

    & .footer-logo {
      display: flex;
      align-items: center;
      grid-area: a;
      /* border: red solid 2px; */
      & img {
        width: 50px;
        height: 50px;
        margin-right: 1rem;
        border-radius: 100%;
        cursor: pointer;
        border: aqua 2px solid;
      }
      & img:hover {
        opacity: 0.66;
      }
      & a {
        font-family: "Pixelify Sans", serif;
        color: aqua;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      & a:hover {
        color: white;
      }
    }
    & .footer-nav {
      grid-area: b;
      /* border: red solid 2px; */
      & ul {
        list-style: none;
        & a {
          color: white;
          text-decoration: none;
          font-size: 0.8rem;
        }
        & a:hover {
          color: aqua;
        }
      } 
    }
    
    & .footer-contact {
      grid-area: c;
      /* border: red 2px  solid; */
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: end;
      & a {
        color: white;
        & .fa-2xl {
          border-radius: 0;
        }
      }
      & a:hover {
        color: aqua;
      }
    }
    
    & .footer-copyright {
      grid-area: d;
      /* border: red 2px solid; */
      text-align: center;
      & hr {
        margin: 1rem 0;
      }
      & p {
        font-size: 0.8rem;
        color: white;
      }
    }
  }
}

/* mode tablette */
@media only screen and (max-width:768px) {
  main {
    flex-direction: column;
    width: 100%;
    max-width: 76;

    & .main-content {
      width: 100%;
      
      & h1#h1 {
        font-size: 3rem;
      }
    }
    & aside {
      margin-top: 1rem;
      width: 100%;
    }
  }

  footer {
    & .grid-areas {
      display: grid;
      grid-template-areas:
        "d"
        "a"
        "c"
        "b";
      & .footer-logo {
        grid-area: a;
        display: flex;
        justify-content: center;
        }
      & .footer-nav {
        grid-area: b;
        & ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
        } 
      }
      
      & .footer-contact {
        grid-area: c;
        display: flex;
        flex-direction: row;
        padding: 1rem;
        justify-content: space-evenly;
        }
      
      & .footer-copyright {
        padding: 1rem;
        text-align: center;
        display: flex;
        flex-direction: column-reverse;
        & hr {
          display: none;
        }
        }
    }
  }
}

/* mode mobile */
@media only screen and (max-width:600px) {
  header {
    & .flex {
        & nav {
            & input#burgermenu:not(:checked) ~ ul#menu {
              height: 0;
            }
            & input#burgermenu:checked ~ ul#menu {
              position: absolute;
              display: flex;
              text-align: center;
              flex-direction: column;
              align-items: center;
              width: 66%;
              height: 100vh;
              background-color: #333;
              right: 0;
              /* top: 82px; */
              z-index: 100;
              height: calc(100vh - 100%);
              overflow: hidden;
            }
            & input#burgermenu {
              display: none;
            }
            & input#burgermenu:checked + #menu-mobile > label > span.line:nth-child(1) {
              transform: translateY(12px) rotate(-45deg);
            }
            & input#burgermenu:checked + #menu-mobile > label > span.line:nth-child(2) {
              opacity : 0;
            }
            & input#burgermenu:checked + #menu-mobile > label > span.line:nth-child(3) {
              transform: translateY(-12px) rotate(45deg);
            }
            & #menu-mobile > label {
              z-index: 10;
              display: flex;
              position: relative;
              margin-left: auto;
              margin-right: 1rem;
              width: 40px;
              height: 60px;
              cursor: pointer;
              align-items: center;
              & span.line {
                position: absolute;
                height: 6px;
                width: 100%;
                background: aqua;
                transition: all 0.3s ease;
              }
              & span.line:nth-child(1) {
                top: 12px;
              }
              & span.line:nth-child(2) {
                top: 24px;
              }
              & span.line:nth-child(3) {
                top: 36px;
              }
            }
            & ul {
              text-align: center;
              z-index: 200;
              display: flex;
              flex-direction: column;
              position: absolute;
              background-color: #333;
              gap: 1rem;
              overflow-y: hidden;
              right:0;
              top:100%;
              width: 66%;
              height: 0;
              transition: all 1s ease;
              & li {
                width: 100%;
                & a {
                  font-size: 1.5rem;
                  background-color: #333;
                  color: aqua;
                  border-bottom: aqua solid 1px;
                }
              }
            }
        }
    }
  }

  main {
    & .main-content {
      & #container {
        width: 100%;
      }
    }
  }

  footer {
    min-height: 50vh;
    & .grid-areas {
      display: grid;
      gap: 2rem;
      grid-template-areas:
        "a"
        "b"
        "d"
        "c";
      & .footer-logo {
        grid-area: a;
        }
  
      & .footer-nav {
        grid-area: b;
        & ul {
          list-style: none;
          display: flex;
          flex-direction: column;
        } 
      }
      
      & .footer-contact {
        grid-area: c;
        justify-content: space-between;
        }
      
      & .footer-copyright {
        padding: 0rem;
        & hr {
          display: flex;
          width: 100%;
          margin: 1rem 0;
        }
      }
    }
  }
}








.fancy {
  --offset: 3px;
  background: rgb(55, 21, 90);
  border-radius: 8px;
  position: relative;
  /* height: 75px;
  width: 400px; */
  max-width: 100%;
  overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
  content: '';
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

/* Overlay */
.fancy::after {
  content: '';
  /* color: white; */
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
  from {
      transform: translate(-50%, -50%) scale(14) rotate(0turn);
  }

  to {
      transform: translate(-50%, -50%) scale(14) rotate(1turn);
  }
}