@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  background-color: greenyellow;
  max-height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

header {
  min-height: 8vh;
  position: fixed;
  /* position: 0; */
  background-color: #333;
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  
  & .flex{
    max-width: 1024px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    & img {
      width: 50px;
      height: 50px;
      margin: 1rem;
      border-radius: 100%;
      cursor: pointer;
      border: aqua 2px solid;
      }
      & img:hover {
        opacity: 0.66;
      }
      & a {
          font-family: "Tiny5", serif;
          color: aqua;
          text-decoration: none;
          cursor: pointer;
          font-size: 1.5rem;
          /* padding: 0px 10px; */
          font-weight: 700;
          text-transform: uppercase;
      }
      & a:hover {
          color: white;
      }
              
      & nav {
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          & input#burgermenu {
            display: none;
          }
          & ul {
              display: flex;
              height: 100%;
              list-style: none;
              margin: 0;
              overflow: hidden;
              & li {
                  list-style: none;
                  text-decoration: none;
                  align-content: center;
                  & a {
                      color: white;
                      padding: 1rem 1rem;
                      text-decoration: none;
                      font-size: 1rem;
                      font-weight: lighter;
                      cursor: pointer;
                      text-transform: uppercase;
                      display: block;
                  }
                  & a:hover {
                      background-color: aqua;
                      color: black;
                      font-weight: bolder;
                  }
              }    
          }
      }
  }
}

main {
  margin: auto;
  /* max-width: 981px; */
  max-width: 1024px;
  padding-top: calc(12vh);
  padding-bottom: calc(4vh);
  width: 100%;
  & .home {
    width: 100%;
    display: flex;
    align-items: center;
    & .main-content {
      width: 70%;
  
      & h1#h1 {
        font-family: "Tiny5", serif;
        font-size: 3rem;
        text-align: center;
        font-weight: 700;
        color: #333;
        text-transform: uppercase;
      }
  
      & #container {
        display: flex;
        width: 75%;
        margin: auto;
        padding: 8px;
        gap: 8px;
        border: #333 1px solid;
  
        & .image {
          background: url("/media/dave.webp") no-repeat center center/cover;
          min-width: 150px;
          width: 30%;
        }
  
        & .content {
          text-align: center;
          & p {
            font-family: Arial, Helvetica, sans-serif;
            /* margin-left: 10%; */
            text-align: left;
          }
          & button {
            font-family: "Tiny5", serif;
            background-color: #333;
            padding: 8px;
            border: none;
            cursor: pointer;
            margin-top: 1rem;
            color: white;
            text-transform: uppercase;
            border: 2px solid #333;

          }
          & button:hover{
            background-color: aqua;
            color: #333;
            border: 2px solid #333;
          }
        }
      }
    }
  
    & aside {
      width: 30%;
      background-color: #333;
      border: #333 1px solid;
      display: flex;
      flex-direction: column;
      /* justify-content: center; */
      padding: 1rem;
      height: 100%;
      & h2#h2 {
        font-family: "Tiny5", serif;
        text-transform: uppercase;
        color: greenyellow;
        font-size: 1.5rem;
      }
      & p {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 1rem;
        text-align: start;
        font-weight: 100;
      }
    }
  }
}

footer {
  width: 100%;
  background-color: #333;
  min-height: 50vh;
  align-content: center;
  justify-content: center;
  & .grid-areas {
    max-width: 1024px;
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-areas:
      "c a b"
      "d d d ";
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    & .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      grid-area: a;
      & img {
        width: 50px;
        height: 50px;
        border-radius: 100%;
        cursor: pointer;
        border: aqua 2px solid;
      }
      & img:hover {
        opacity: 0.66;
      }
      & a {
        font-family: "Tiny5", serif;
        color: aqua;
        text-decoration: none;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
      }
      & a:hover {
        color: white;
      }
    }
    & .footer-nav {
      border-left: greenyellow solid 2px;
      padding: 1rem;
      grid-area: b;
      margin: 0 auto;
      & ul {
        list-style: none;
        & li {
          padding-bottom: 0.5rem;
          width: fit-content;
          & a {
            color: white;
            text-decoration: none;
            font-size: 0.8rem;
          }
          & a:hover {
            color: aqua;
          }
        }
      } 
    }
    
    & .footer-contact {
      grid-area: c;
      display: flex;
      /* flex-direction: column; */
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      margin: 0;
      padding: 0;
      & a {
        color: greenyellow;
        font-size: 1.5rem;
        margin: 0.5rem;
        & i {
          height: 100%;
        }
      }
      & a:hover {
        color: aqua;
      }
    }
    
    & .footer-copyright {
      grid-area: d;
      text-align: center;
      & hr {
        width: 100%;
        margin: auto;
        margin-bottom: 1rem;
        border: solid 1px greenyellow;
      }
      & p {
        font-size: 0.8rem;
        color: white;
        & a {
          text-decoration: none;
          color: greenyellow;
        }
        & a:hover {
          color: #fff;
        }
      }
    }
  }
}

/* mode tablette */
@media only screen and (max-width:768px) {
  main {
    max-width: 90vw;
    & .home {
      flex-direction: column;
      & .main-content {
        width: 100%;
        
        & h1#h1 {
          font-size: 3rem;
        }
      }
      & aside {
        margin-top: 1rem;
        width: 100%;
      }
    }
  }

  footer {
    min-height: 66vh;
    & .grid-areas {
      display: grid;
      gap: 2rem;
      grid-template-areas:
        "a"
        "c"
        "b"
        "d";
      grid-template-columns: 1fr;
      /* grid-template-rows: 0fr 1fr 1fr 0fr; */
      & .footer-logo {
        grid-area: a;
        }
      & .footer-nav {
        grid-area: b;
        margin: 1rem 0;
        & ul {
          list-style: none;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        } 
      }
      
      & .footer-contact {
        grid-area: c;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        }
    }
  }
}

/* mode mobile */
@media only screen and (max-width:600px) {
  header {
    & .flex {
        & nav {
            & input#burgermenu:not(:checked) ~ ul#menu {
              height: 0;
            }
            & input#burgermenu:checked ~ ul#menu {
              position: absolute;
              display: flex;
              text-align: center;
              flex-direction: column;
              align-items: center;
              width: 66%;
              height: 100vh;
              background-color: #333;
              right: 0;
              /* top: 82px; */
              z-index: 100;
              /* height: calc(100vh - 100%); */
              height: auto;
              overflow: hidden;
            }
            & input#burgermenu {
              display: none;
            }
            & input#burgermenu:checked + #menu-mobile > label > span.line:nth-child(1) {
              transform: translateY(12px) rotate(-45deg);
            }
            & input#burgermenu:checked + #menu-mobile > label > span.line:nth-child(2) {
              opacity : 0;
            }
            & input#burgermenu:checked + #menu-mobile > label > span.line:nth-child(3) {
              transform: translateY(-12px) rotate(45deg);
            }
            & #menu-mobile > label {
              z-index: 10;
              display: flex;
              position: relative;
              margin-left: auto;
              margin-right: 1rem;
              width: 40px;
              height: 60px;
              cursor: pointer;
              align-items: center;
              & span.line {
                position: absolute;
                height: 6px;
                width: 100%;
                background: greenyellow;
                transition: all 0.3s ease;
              }
              & span.line:nth-child(1) {
                top: 12px;
              }
              & span.line:nth-child(2) {
                top: 24px;
              }
              & span.line:nth-child(3) {
                top: 36px;
              }
            }
            & ul {
              text-align: center;
              z-index: 200;
              display: flex;
              flex-direction: column;
              position: absolute;
              background-color: #333;
              /* gap: 1rem; */
              overflow-y: hidden;
              right:0;
              top:100%;
              width: 66%;
              height: 0;
              transition: all 1s ease;
              & li {
                width: 100%;
                & a {
                  height: 100%;
                  font-size: 1.5rem;
                  background-color: #333;
                  color: greenyellow;
                  border-bottom: aqua solid 1px;
                }
              }
              & li:last-child a {
                border-bottom: none;
              }
            }
        }
    }
  }

  main {
    & .home {
      flex-direction: column;
      max-width: 90vw;
      & .main-content {
        & #container {
          width: 100%;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }

  footer {
    min-height: 66vh;
    & .grid-areas {
      display: grid;
      gap: 2rem;
      grid-template-areas:
        "a"
        "c"
        "b"
        "d";
        grid-template-columns: 1fr;
      & .footer-logo {
        grid-area: a;
        }
  
      & .footer-nav {
        grid-area: b;
        margin: 0 auto;
        & ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          & a {
            font-size: 1rem;
          }
        } 
      }
      
      & .footer-contact {
        grid-area: c;
        justify-content: space-around;
        }
      
      & .footer-copyright {
        & p {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}








.fancy {
  --offset: 3px;
  background: rgb(55, 21, 90);
  border-radius: 8px;
  position: relative;
  /* height: 75px;
  width: 400px; */
  max-width: 100%;
  overflow: hidden;
}

/* Conic gradient */
.fancy::before { 
  content: '';
  background: conic-gradient(transparent 270deg, white, transparent);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  aspect-ratio: 1;
  width: 100%;
  animation: rotate 2s linear infinite;
}

/* Overlay */
.fancy::after {
  content: '';
  /* color: white; */
  background: inherit;
  border-radius: inherit;
  position: absolute;
  inset: var(--offset);
  height: calc(100% - 2 * var(--offset));
  width: calc(100% - 2 * var(--offset));
}

@keyframes rotate {
  from {
      transform: translate(-50%, -50%) scale(14) rotate(0turn);
  }

  to {
      transform: translate(-50%, -50%) scale(14) rotate(1turn);
  }
}